$fadeBackground: rgba(0, 0, 0, 0.50);

$amber200: #FFE082;
$amber300: #FFD54F;
$amber400: #FFCA28;
$amber500: #FFC107;
$amber700: #FFA000;

$red500: #F44336;

$grey50: #FAFAFA;
$grey300: #E0E0E0;
$grey400: #BDBDBD;
$grey500: #9E9E9E;

$indigo500: #3F51B5;


$lightBlue500: #03A9F4;